{% extends 'base.html.twig' %}

{% block body_id 'blog_index' %}

{% block main %}
    {% for post in posts %}
        <article class="post">
            <h2>
                <a href="{{ path('blog_post', { slug: post.slug }) }}">
                    {{ post.title }}
                </a>
                {% set state_classes = {0: 'default', 1: 'info', 2: 'success', 3: 'danger'} %}
                <span class="label label-{{ state_classes[post.state] }}">{{ ('post.state.'~post.state)|trans }}</span>
            </h2>

            {{ post.summary|md2html }}
        </article>
    {% endfor %}
{% endblock %}

{% block sidebar %}
    {{ parent() }}

    {{ show_source_code(_self) }}
{% endblock %}
