{% extends 'base.html.twig' %}

{% block body_id 'blog_index' %}

{% block main %}
    {% for post in posts %}
        <article class="post">
            <h2>
                <a href="{{ path('blog_post', { slug: post.slug }) }}">
                    {{ post.title }}
                </a>
                <span class="label label-{{ state_classes[post.state] }}">{{ ('post.state.'~post.state)|trans }}</span>
            </h2>
            <span class="label label-success">
                <i class="fa fa-thumbs-up"></i>({{ post.agreeCount }})
            </span>&nbsp;
            <span class="label label-danger">
                <i class="fa fa-thumbs-down"></i>({{ post.notAgreeCount }})
            </span>

            {{ post.summary|md2html }}
        </article>
    {% endfor %}
{% endblock %}

{% block sidebar %}
    {% include "blog/voting_filters.html.twig" %}
    {% include "blog/categories_list.html.twig" %}
    {% include "blog/states_list.html.twig" %}
    {{ parent() }}
{% endblock %}
